name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # Allows this workflow to be called by the release workflow
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Build
        run: echo ${{ github.sha }} > Release.txt
      - name: Test
        run: cat Release.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Release.txt
          path: Release.txt