name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  call-build:
    uses: ./.github/workflows/build.yml

  release:
    needs: call-build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./nrf52840dongle_bluetooth_hci_uart.zip
